allow sprd_validationtools_app hal_fingerprintmmi_hwservice:hwservice_manager find;
allow sprd_validationtools_app hal_fingerprintmmi_default:binder { call };
