service vendor.sprd.hardware.fingerprintmmi@1.0-service /vendor/bin/hw/vendor.sprd.hardware.fingerprintmmi@1.0-service-lazy
    interface vendor.sprd.hardware.fingerprintmmi@1.0::IFingerprintmmi default
    oneshot
    disabled
    class hal
    user system
    group system
